<!DOCTYPE html>
<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        rel="stylesheet"
        id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
</head>

<body class="bodytag">
<br>
<br>
<h2><b>&nbsp;&nbsp;&nbsp;&nbsp;Search for any food !!
</b></h2><br>
<div class="container">
  <div class="row button" style="align-content: center">
    <div class="offset-md-2 col-md-3">
      <button class="btn btn-success" routerLink="recipe"> click here for Recipe</button>
    </div>
    <div class=" offset-md-1 col-md-3">
      <button class="btn btn-success" routerLink="place"> click here for Place</button>
    </div>
  </div>
</div>
</body>
</html>
