html {
  height: 100%;
  background: url("../../assets/book_edit.jpg") no-repeat center;
  background-size: cover;
  width: 100%;
  display: block;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.body_tag {
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
}
.mat-card {
  height: 75vh;
  width: 60vh;
  padding-top: 10px;
  margin: 10px;
}
.example-full-width {
  width: 100%;
}

.example-full-width:nth-last-child {
  margin-bottom: 10px;
}

.button-row {
  margin: 10px 0;
}
