<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-1 col-md-10">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Register the Courses</h4>
                    </div>
                    <div class="card-body">
                        <form class="updateForm" (ngSubmit)="registerCourse()">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Semester</mat-label>
                                        <mat-select [(ngModel)]="selectedSemValue" name="semester">
                                            <mat-option *ngFor="let semester of semesters" [value]="semester.value">
                                                {{semester.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Courses</mat-label>
                                        <mat-select [(ngModel)]="selectedCourseValue" name="course">
                                            <mat-option *ngFor="let course of courses" [value]="course.value">
                                                {{course.viewValue}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-info">Enroll</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
